<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Launch Online Application</title>
</head>
<body>
  <p>Hello!</p>
  <p>Thank you for submitting your application to the Launch Online Grant program.</p>
  <p>Your application has been received and has its secured position in our queue.</p>
  <p>We have received a high volume of applications and are working hard to review yours in the order that it was received.</p>
  <p>We will be sure to reach out as soon as we can with a status update or if we require any additional information regarding your application.</p>
  <p>Thank you for your patience and understanding!</p>
  <p>Best,</p>
  <p>Launch Online Applications Team</p>
{{> footer}}
</body>
</html>
