<footer>
  <table class="unstyledTable">
    <tbody>
      <tr>
        <td style="border-right: 5px solid #234075;">
          <img src="cid:logo" style="width: 130px; padding-right: 5px;"/>
        </td>
        <td style="padding-left: 30px;">
          <table>
            <tbody>
              <tr>
                <td>
                  <h1 style="margin: 0px; font-size: 18px;">Applications Team</h1>
                </td>
              </tr>
              <tr>
                <td>
                  <h1 style="margin: 0px; font-size: 18px;">Launch Online</h1>
                </td>
              </tr>
              <tr>
                <td>
                  <p style="margin: 0px; font-size: 14px;">Phone: {{phoneNum}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <a style="font-size: 14px;" href={{siteUrl}}>{{siteUrl}}</a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</footer>
