<footer>
  <table class="unstyledTable">
    <tbody>
      <tr>
        <td id="footer-left">
          <img src="cid:logo"/>
        </td>
        <td id="footer-right">
          <table>
            <tbody>
              <tr>
                <td>
                  <h1>Applications Team</h1>
                </td>
              </tr>
              <tr>
                <td>
                  <h1 id="footer-title">Launch Online</h1>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Phone: {{phoneNum}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <a href={{siteUrl}}>{{siteUrl}}</a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</footer>