@font-face {
  font-family: 'BC Sans';
  src: url('BCSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'BC Sans';
  src: url('BCSans-Bold.woff') format('woff');
  font-weight: bold;
}
